
<%- include('../layout/header.ejs') -%>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<style>
    .btn-custom {
    padding: 5px 10px;
    font-size: 12px;
}
</style>

    </head>

    
        <div class="page-wrapper">
    <%- include('../partials/navbar.ejs') -%>




  

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('/static/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Shopping Cart<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="cart">
	                <div class="container">
	                	<div class="row">
	                		<div class="col-lg-9">

	                			<table class="table table-striped table-hover table-cart table-mobile">
									<thead class="t">
										<tr>
											<th class="text-center">Image</th>
											<th class="text-center">Product</th>
											<th class="text-center">Quantity</th>
											<th class="text-center">Price</th>
											<th class="text-center">Total</th>
											<th class="text-center">Action</th>
										</tr>
									</thead>
								
									<tbody>
										<% if (userCart && userCart.items && userCart.items.length > 0) { %> 
											<% userCart.items.forEach(item => { %>
												
												<tr>
													
													<td>
														<img src="<%= item.image %>" alt="<%= item.title %>" class="img-fluid" style="max-width: 80px; height: auto; object-fit: cover;">
													</td>
													<td class="align-middle" style="max-width: 100px;"><%= item.title %></td>
											
													<td class="align-middle text-center">
														<form action="/cart/update/<%= item.productId %>" method="POST">
															<button type="submit" name="action" value="decrease" class="btn-outline-secondary" style="width: 35px;">-</button>
															<input type="text" value="<%= item.quantity %>" disabled class="quantity-input mx-2" style="width: 40px; text-align: center;">
															<button type="submit" name="action" value="increase" class="btn-outline-secondary" style="width: 35px;">+</button>
														</form>
													</td>
											
													<td class="align-middle text-center">₹<%= item.price %></td>
													<td class="align-middle text-center">₹<%= item.price * item.quantity %></td>
													<td class="align-middle text-center">
														<form action="/cart/remove/<%= item.productId %>" method="POST">
															<button type="submit" class="btn btn-sm btn-danger">Remove</button>
														</form>
													</td>
												</tr>
										
											<% }); %>
										<% } else { %>
											<tr>
												<td colspan="6" class="text-center">Your cart is empty.</td>
											</tr>
										<% } %>
									</tbody>
								</table>
                                

                                <!-- End .table table-wishlist -->

	                			<div class="cart-bottom">
			            			<div class="cart-discount">
			            				<form action="#">
			            					<div class="input-group">
				        						<input type="text" class="form-control" required placeholder="coupon code">
				        						<div class="input-group-append">
													<button class="btn btn-outline-primary-2" type="submit"><i class="icon-long-arrow-right"></i></button>
												</div><!-- .End .input-group-append -->
			        						</div><!-- End .input-group -->
			            				</form>
			            			</div><!-- End .cart-discount -->

			            			<a href="#" class="btn btn-outline-dark-2"><span>UPDATE CART</span><i class="icon-refresh"></i></a>
		            			</div><!-- End .cart-bottom -->
	                		</div><!-- End .col-lg-9 -->


	                		<aside class="col-lg-3">






	                			<div class="summary summary-cart">
    <h3 class="summary-title">Cart Total</h3>

    <form >
        <table class="table table-summary">
            <tbody>
                <!-- Free Shipping -->
                <tr class="summary-shipping-row">
                    <td>
                        <div class="custom-control custom-radio">
                            <input 
                                type="radio" 
                                id="free-shipping" 
                                name="shipping" 
                                class="custom-control-input" 
                                value="free" 
                                data-cost="0" 
                                <%= cartPrice.selectedShipping === 'free' ? 'checked' : '' %>
                            >
                            <label class="custom-control-label" for="free-shipping">Free Shipping</label>
                        </div>
                    </td>
                    <td>₹0.00</td>
                </tr>
                <!-- Standard Shipping -->
                <tr class="summary-shipping-row">
                    <td>
                        <div class="custom-control custom-radio">
                            <input 
                                type="radio" 
                                id="standard-shipping" 
                                name="shipping" 
                                class="custom-control-input" 
                                value="standard" 
                                data-cost="50" 
                                <%= cartPrice.selectedShipping === 'standard' ? 'checked' : '' %>
                            >
                            <label class="custom-control-label" for="standard-shipping">Standard Shipping</label>
                        </div>
                    </td>
                    <td>₹50.00</td>
                </tr>
                <!-- Express Shipping -->
                <tr class="summary-shipping-row">
                    <td>
                        <div class="custom-control custom-radio">
                            <input 
                                type="radio" 
                                id="express-shipping" 
                                name="shipping" 
                                class="custom-control-input" 
                                value="express" 
                                data-cost="100" 
                                <%= cartPrice.selectedShipping === 'express' ? 'checked' : '' %>
                            >
                            <label class="custom-control-label" for="express-shipping">Express Shipping</label>
                        </div>
                    </td>
                    <td>₹100.00</td>
                </tr>
                <!-- Total -->
                <tr class="summary-total">
                    <td>Total:</td>
                    <td>
                        ₹<span id="total-price"><%= cartPrice.total %></span>
                        <input type="hidden" name="totalPrice" value="<%= cartPrice.total %>">
                    </td>
                </tr>
            </tbody>
        </table>
		<button type="" class="btn btn-outline-primary-2 btn-order btn-block">
			 <a href="/checkout">
            PROCEED TO CHECKOUT
		</a>
        </button>
    </form>
                                </div><!-- End .summary -->






		            			<a href="category.html" class="btn btn-outline-dark-2 btn-block mb-3"><span>CONTINUE SHOPPING</span><i class="icon-refresh"></i></a>
	                		</aside><!-- End .col-lg-3 -->




	                	</div><!-- End .row -->
	                </div><!-- End .container -->
                </div><!-- End .cart -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        <footer class="footer">
        	<div class="footer-middle">
	            <div class="container">
	            	<div class="row">
	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget widget-about">
	            				<img src="/static/images/logo.png" class="footer-logo" alt="Footer Logo" width="105" height="25">
	            				<p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. </p>

	            				<div class="social-icons">
	            					<a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Pinterest"><i class="icon-pinterest"></i></a>
	            				</div><!-- End .soial-icons -->
	            			</div><!-- End .widget about-widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="about.html">About Molla</a></li>
	            					<li><a href="#">How to shop on Molla</a></li>
	            					<li><a href="#">FAQ</a></li>
	            					<li><a href="contact.html">Contact us</a></li>
	            					<li><a href="login.html">Log in</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="#">Payment Methods</a></li>
	            					<li><a href="#">Money-back guarantee!</a></li>
	            					<li><a href="#">Returns</a></li>
	            					<li><a href="#">Shipping</a></li>
	            					<li><a href="#">Terms and conditions</a></li>
	            					<li><a href="#">Privacy Policy</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">My Account</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="#">Sign In</a></li>
	            					<li><a href="cart.html">View Cart</a></li>
	            					<li><a href="#">My Wishlist</a></li>
	            					<li><a href="#">Track My Order</a></li>
	            					<li><a href="#">Help</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->
	            	</div><!-- End .row -->
	            </div><!-- End .container -->
	        </div><!-- End .footer-middle -->

	        <div class="footer-bottom">
	        	<div class="container">
	        		<p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p><!-- End .footer-copyright -->
	        		<figure class="footer-payments">
	        			<img src="/static/images/payments.png" alt="Payment methods" width="272" height="20">
	        		</figure><!-- End .footer-payments -->
	        	</div><!-- End .container -->
	        </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div>
</body>




<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.querySelector('.btn-order').addEventListener('click', function(e) {
        // Get the cart items passed from the server
        const userCartItems = <%= JSON.stringify(userCart.items) %>;  // Now userCart.items is available

        if (userCartItems.length === 0) {
            e.preventDefault(); // Prevent navigation to checkout
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Your cart is empty! Please add items to the cart before proceeding to checkout.',
                confirmButtonText: 'OK'
            });
        }
    });
</script>








<script>
    // Calculate the total price dynamically
    document.addEventListener('DOMContentLoaded', function () {
        const radioButtons = document.querySelectorAll('input[name="shipping"]');
        const totalPriceElement = document.getElementById('total-price');
        const basePrice = <%= cartPrice.subtotal %>; // Base price passed from the server

        function updatePrice() {
            let shippingCost = 0;
            const selected = document.querySelector('input[name="shipping"]:checked');
            if (selected) {
                shippingCost = parseFloat(selected.getAttribute('data-cost'));
            }
            const total = basePrice + shippingCost;
            totalPriceElement.textContent = total.toFixed(2); // Update the total price
        }

        // Add event listeners to all shipping radio buttons
        radioButtons.forEach(radio => {
            radio.addEventListener('change', updatePrice);
        });

        // Initial calculation
        updatePrice();
    });
</script>





<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    <% if (messages.error) { %>
        Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: '<%= messages.error %>',
        });
    <% } %>
</script>




</html>